body{
    text-align: center;
    background-color: black;
    color: #eee;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
button {
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #08f;
  color: white #00c3ff;
}

button:hover {
  background-color: #06c;
}

#message {
  margin-top: 20px;
  font-size: 18px;
  min-height: 24px;
}


